{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="task, my task, today's task, " >
    <meta name="descreption" content="this page is currently in development phase" >
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>{% block title %}Home{% endblock %}</title>

</head>
<body>
    {% block body %}
    <div class="pagelink">
        <div class="pg-text">
            <a href="{% url 'tasks:task' %}">View task page</a>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>